# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS system files
.DS_Store

# Editor-specific
.idea/
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Output files
output/
*.png
*.svg
